### C++-projekt 

# Prerequisites
*.d

# Compiled Object files

*.slo
*.lo
*.o
*.Object

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executabler
*.exe
*.out
*.app

.vscode
.idea

# Ignorerar mappen build
build/

